@font-face {
  font-family: 'Kaushan';
  src: url('./kaushan-script/KaushanScript-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar';
  src: url('./Caviar-Dreams/CaviarDreams.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'test';
  src: url('./baratheon-font/Baratheon-9Y1Z5.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #edede9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 20px;
}

/* Align the toolbar to the right */
.toolbar {
  width: 13%;
  height: 50px;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: flex-end;  /* Align buttons to the right */
  padding-right: 20px;
  position: fixed;  /* Fix the toolbar to the right */
  right: 0;  /* Align to the right side */
  top: 10px;  /* Align to the top of the screen */
  z-index: 10;  /* Ensure the toolbar stays above other content */
}

.toolbar-button {
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  font-family: 'Caviar', sans-serif;
  font-weight: bold;
  border-radius: 4px;
  color: #b0b0b0;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toolbar-button:hover {
  background-color: transparent;
}

.toolbar-button.selected {
  color: black;
}

.toolbar-button:active {
  background-color: transparent;
}

/* Layout for 1/3 and 2/3 split */
.content {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding-right: 15%; /* Adjust content to prevent it from going under the fixed toolbar */
}

.left-box {
  flex: 1;
  background-color: grey;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}

.right-menu {
  flex: 2;
  padding: 20px;
  margin: 20px;
  margin-top: 80px; /* Add margin-top to move the box down */
  border-radius: 8px;
  background-color: grey;
}

/* Apply smooth transition to menu visibility */
.selected-menu {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.selected-menu.show {
  opacity: 1;
  max-height: 500px; /* or set a max height large enough to accommodate your menu content */
}

.selected-menu h3 {
  margin-top: 0;
  font-size: 24px;
}

.name {
  line-height: .85;  /* Adjust line height for spacing between lines */
  letter-spacing: 3px;
  margin-left: -45px;
  font-family: 'test', sans-serif;

}

.nl1 {
  font-size: 94px;
  display: block; /* Forces "Hong" to be on a new line */
}

.nl2 {
  font-size: 94px;
  display: block; /* Forces "Kong" to be on a new line */
  margin-left: 100px; /* Stagger "Kong" slightly to the right */
}

.logo {
  width: 200px;  /* Adjust the width */
  height: auto;
  margin-top: 30px;
}

.addr {
  line-height: 1;  /* Adjust line height for spacing between lines */
  letter-spacing: 3px;
  font-family: 'Caviar';
  margin-top: 10px;
}

.al1 {
  display: block;
}

.al2 {
  display: block;
  margin-top: 5px;
}

.phone {
  line-height: 1;  /* Adjust line height for spacing between lines */
  letter-spacing: 3px;
  font-family: 'Caviar';
  margin-top: 20px;
}

.num1 {
  display: block;
}

.num2 {
  display: block;
  margin-top: 5px;
}

.hours {
  line-height: 1;  /* Adjust line height for spacing between lines */

  font-family: 'Caviar';
  margin-top: 20px;
}

.hrtxt {
  font-weight: bolder;
  text-decoration: underline;
  font-size: 20px;
  letter-spacing: 3px;
}

.days {
  display: block;
  margin-top: 10px;
  letter-spacing: 0px;
}