.col1 {
    display: block;
    padding: 0px;
    font-family: 'Caviar';
    font-size: 10px;
    width: 250px;
    background-color: transparent;
  }
.col2 {
    margin-top: -791px;
    margin-left: 265px;
    display: block;
    padding: 0px;
    font-family: 'Caviar';
    font-size: 10px;
    width: 250px;
    background-color: transparent;
}

.col3 {
background-color: transparent;
margin-top: -843px;
margin-left: 265px;
    display: block;
    padding: 0px;
    font-family: 'Caviar';
    font-size: 10px;
    width: 250px;
}

.col4 {
    background-color:transparent;
    margin-top: -809px;
    margin-left: 525px;
    display: block;
    padding: 0px;
    font-family: 'Caviar';
    font-size: 10px;
    width: 250px;
}  
    h2 {
    text-align: center;
    margin-bottom: 2px;
  }
  
   p {
    margin: 5px 0;
    text-align: left;
    line-height: 8px;
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: space-between; /* Space out the name and price */
  }


  .menu-item { /* Styles for the wrapper div */
    margin-bottom: 15px; /* Add spacing between menu items */
  }
  
  .item-name-price {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2px; /* Space between name/price and description */
      text-align: left;
  }
  
  .item-price {
    text-align: right;
    margin-left: 3px;
    letter-spacing: .1px;
  }
  
  .desc {
    /* Removed display: block; it's block by default */
    margin-top: 3px; /* Consistent spacing */
    word-wrap: break-word;
    font-size: 8px;
    text-align: left;
    font-style: italic;
  }

  .spicy-text {
    color: red;
  }

  .comment {
    text-align: right;
    font-size: 8px;
    color: red;
  }